.swiper .swiper-pagination {
  bottom: 24px !important;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 2px;
  background: #ffffff80;
  border-radius: 2px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #b9e567;
}

.page-heading {
  font-family: var(--font-aeonik), sans-serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.96px;

  @media (max-width: 640px) {
    font-size: 28px;
    line-height: 112%;
    letter-spacing: -0.56px;
  }
}

.backdrop-16 {
  backdrop-filter: blur(16px);
}
.backdrop-50 {
  backdrop-filter: blur(50px);
}

.backdrop-60 {
  backdrop-filter: blur(60px);
}
